<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Grafo</title>
</head>
<body>
<p>Lista claves</p>
<p>{{ grafo.listaClaves }}</p>

<p>Lista adyancencia</p>
<p>{{ grafo.listaAdyacencia }}</p>

<ul>
    <li><a class="btn btn-primary" href="{{ id }}/matriz-adyacencia">Mostrar matriz de adyacencia</a></li>
    <li><a class="btn btn-primary" href="{{ id }}/es-conexo">Verificar si el grafo es conexo</a></li>
    <li><a class="btn btn-primary" href="{{ id }}/dijkstra">Aplicar algoritmo Dijkstra</a></li>
    <li><a class="btn btn-primary" href="{{ id }}/caminos-n">Obtener caminos de largo n entre pares de Vértices</a></li>

    <li><a class="btn btn-primary" href="{{ id }}/ford-fulkerson">Aplicar algoritmo de Ford Fulkerson</a></li>
    <li><a class="btn btn-primary" href="{{ id }}/prim">Aplicar algoritmo de Prim</a></li>


</ul>



</body>
</html>